.semesters-holder
	display: flex
	.semester-card
		border: 1px solid $input-border-color
		background: $input-bg
		padding: 0 20px 20px 20px
		min-width: 300px
		height: 500px
		margin: 10px
		.semester-title
			margin-bottom: 20px
			background: $primary
			margin-left: -20px
			margin-right: -20px
			color: rgba(255, 255, 255, 0.5)
			padding: 7px 10px
		.semester-course-list
			padding: 0
			.course-item
				display: flex
				justify-content: space-between
				align-items: center
				padding: 4px 10px
				border: 1px solid #ddd
				border-radius: 3px
				margin-bottom: 10px
