.semesters-holder
	display: flex
	.semester-card
		border: 1px solid $input-border-color
		background: $input-bg
		padding: 0
		height: 500px
		margin: 10px
		.semester-title
			background: $primary
			color: rgba(255, 255, 255, 0.5)
			padding: 7px 10px
		.semester-course-list
			padding: 0
			.course-item
				display: flex
				justify-content: space-between
				align-items: center
				padding: 4px 10px
				border-bottom: 1px solid $input-border-color