.side-panel-holder
	background: $primary
	padding: 0
	display: flex
	flex-direction: column
	.course-search-section
		background: $purple
		padding: 0
		display: flex
		flex-direction: column
		height: 400px
		form
			padding: 10px
			box-shadow: -2px 5px 3px #0000006b
			.form-group
				width: 100%
				input
					width: 100%
		ul
			list-style: none
			margin: 0
			padding: 6px 0 0 0
			flex: 1 1 auto
			overflow-y: scroll
			li
				border-bottom: 1px solid #3a435e
				color: $primary
				padding: 4px
				&:hover
					background: darken($purple, 20%)
					cursor: pointer
					color: white
		ul.help-text
			display: flex;
			align-items: center;
			p
				padding: 40px
	.selected-course
		display: flex
		padding: 10px
		flex-direction: column
		color: white
		overflow-y: scroll
		flex: 1 1 auto
		span
			font-weight: bold
		.description
			font-size: x-small
.control-bar
	padding: 3px
	button
		margin-right: 3px